@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

.all{ 
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #1C367C,#3A104C);
  padding: 10px;
}

.container{
  background-color: white;
  width: 100%;
  max-width: 540px;
  margin: 100px auto 20px;
  min-height: 30vh;
  border-radius: 10px;
  padding: 40px 30px 70px;
}

.title{
  color: #002765;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.icon{
  margin-left: 10px;
  width: 30px;
}

.form{
display: flex;
align-items: center;
justify-content: space-between;
background: #EBECEF;
border-radius: 30px;
padding-left: 20px;
margin-bottom: 25px;
}

.input-space{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

.add-button
{
  border: none;
  outline: none;
  padding: 16px 50px;
  border-radius: 40px;
  background-color: #FF643C;
  color: white;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
} 


.task{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

.task::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(/images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

.checked{
  color: #555;
  text-decoration: line-through;
}

.checked::before{
  background-image: url(/images/checked.png);
}

.span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
}

.span:hover{
  background: #edeef0;
  border-radius: 50%;
}